<!DOCTYPE html>
<html>
  <head>
    <title>BoardApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIkgN_m1eTtMsA0BOP4Bi-j1-ABrtHgrE&callback=initMap"></script>

  </head>

  <body>
    <%= yield %>
    <%= any_login_here if defined?(AnyLogin) %>
  </body>
</html>
